<div id="container">
  <mat-grid-list cols="13">
    <mat-grid-tile colspan="6">
      <mat-form-field>
        <mat-label>Base amount</mat-label>
        <label>
          <input matInput [type]="'number'"
                 [value]="currentBaseAmount | formatNumber"
                 (input)="updateBaseAmount($event.target.value)">
        </label>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
    </mat-grid-tile>

    <mat-grid-tile colspan="6">
      <mat-form-field>
        <mat-label>Base currency</mat-label>
        <mat-select [(value)]="selectedBaseCurrency">
          <mat-option *ngFor="let item of availableBaseCurrencies"
                      (onSelectionChange)="selectBasedCurrency($event.source.value)"
                      [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-grid-tile>
  </mat-grid-list>

  <span *ngIf="selectedCounterCurrency" class="mat-display-1">
    1 {{selectedBaseCurrency}} equals
    {{basedConversionRates[selectedCounterCurrency] | formatNumber}}
    {{selectedCounterCurrency}}
  </span>

  <mat-grid-list cols="13">
    <mat-grid-tile colspan="6">
      <mat-form-field>
        <mat-label>Counter amount</mat-label>
        <label>
          <input matInput [type]="'number'"
                 [value]="currentCounterAmount | formatNumber"
                 (input)="updateCounterAmount($event.target.value)">
        </label>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="1">
    </mat-grid-tile>

    <mat-grid-tile colspan="6">
      <mat-form-field>
        <mat-label>Counter currency</mat-label>
        <mat-select [(value)]="selectedCounterCurrency">
          <mat-option *ngFor="let item of counterCurrencyNames"
                      [value]="item">
            {{item}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </mat-grid-tile>
  </mat-grid-list>

  <app-currency-chart *ngIf="selectedCounterCurrency"
                      [counter]="selectedCounterCurrency"
                      [base]="selectedBaseCurrency"></app-currency-chart>
</div>


